<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button v-model="sign" @click="sign='plus'">+</button>
      <button v-model="sign" @click="sign='minus'">-</button>
      <button v-model="sign" @click="sign='multiply'">*</button>
      <button v-model="sign" @click="sign='divide'">/</button>
    </p>

      <div>
        <h1>การบวก</h1>
        <input type="number" v-model="number1" />
        <span>+</span>
        <input type="number" v-model="number2" />
        <span> = {{ plus }}</span>

      </div>

      <template v-if="SignMinus">
        <div>
          <h1>การลบ</h1>
          <input type="number" v-model="number1" />
          <span>-</span>
          <input type="number" v-model="number2" />
          <span> = {{  minus }} </span>
        </div>
      </template>

      <template v-if="SignMul">
        <div>
          <h1>การคูณ</h1>
          <input type="number" v-model="number1" />
          <span>*</span>
          <input type="number" v-model="number2" />
          <span> = {{ multiply }} </span>
        </div>
      </template>

      <template v-if="SignDiv">
        <div>
          <h1>การหาร</h1>
          <input type="number" v-model="number1" />
          <span>/</span>
          <input type="number" v-model="number2" />
          <span> = {{ divide }} </span>
        </div>
      </template>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          number1: 0,
          number2: 0,
          sign: '',
        },
        computed: {
          plus: function () {
            return parseInt(this.number1) + parseInt(this.number2);
          },
          minus: function () {
            return parseInt(this.number1) - parseInt(this.number2);
          },
          multiply: function () {
            return parseInt(this.number1) * parseInt(this.number2);
          },
          divide: function () {
              return parseInt(this.number1) / parseInt(this.number2);
            },
          
          SignPlus: function () {
            return this.sign == 'plus';
          },
          SignMinus: function () {
            return this.sign == 'minus';
          },
          SignMul: function () {
            return this.sign == 'multiply';
          },
          SignDiv: function () {
            return this.sign == 'divide';
          },
         

        }


        
      });
    </script>
  </body>
</html>
